* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6562f8
}

.wrapper {
    max-width: 400px;
    height: 400px;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.cards {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;

}

.cards li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px
}


.cards .card {
    /* position: relative; */
    cursor: pointer;
    width: calc(100%/4 - 20px);
    height: calc(100%/4 - 20px);
    padding: 10px;
    perspective: 1000px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 0.3s ease-in-out;
    /* background-color: #222; */
    -webkit-user-select: none;
    user-select: none;


}


.cards .card .view {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    backface-visibility: hidden;
    pointer-events: none;


}

.card .front-view {
    transform: rotateY(0deg);
    z-index: 1;
    font-size: 2rem;
    color: #6562f8
}

.card .back-view {
    transform: rotateY(180deg);
}

.card.flip .front-view {
    transform: rotateY(180deg);
    /* z-index: 1; */
}

.card.flip .back-view {
    transform: rotateY(0deg);
    /* z-index: 2; */
}

.card.shake {
    animation: shake 0.4s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    75% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}


.score-panel {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.score-panel span {
    color: #6562f8;
    font-size: 1rem;
    font-weight: bold;
}

.score-panel button {
    background-color: #6562f8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.score-panel button:hover {
    background-color: #333;
    color: #fff;
}